{% extends 'base.html' %}
{% block head %}
	{{ parent() }}
	<script type="text/javascript" src="/{{static}}/{{theme}}/js/login_js.js"></script>
{% endblock %}
{% block body %}
	<div id="login" class="shadow_5_ccc">
		{% if error %}
			<div id="form_error" class="error round_corners_5">{{error}}</div>
		{% endif %}
		{% if message %}
			<div id="form_message" class="success round_corners_5">{{message}}</div>
		{% endif %}
		<form action="/user/login" method="post">
			<input type="hidden" name="{{csrf_variable}}" value="{{csrf_value}}" />
			<div id="login_login"><input type="text" name="username" value="{{ translate('username')|capitalize }}" title="{{ translate('username')|capitalize }}" class="round_corners_5" /></div>
			<div id="login_password"><input type="password" name="password" value="{{ translate('password')|capitalize }}" title="{{ translate('password')|capitalize }}" class="round_corners_5" /></div>
			<div id="login_submit" class="left"><input type="submit" value="{{ translate('login')|capitalize }}" class="round_corners_5" /></div>
			<div id="register_link" class="left"><a href="{{ site_url('user/register') }}">{{ translate('registration')|capitalize }}</a></div>
			<div class="clear"></div>
		</form>
	</div>
{% endblock %}