/**
 * General styles
 */
body
{
	margin: 0px;
	padding: 0px;
	background-color: #efefef;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}
.round_corners_5
{
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;	
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.round_corners_10
{
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;	
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.shadow_5_ccc {
  -moz-box-shadow: 0px 0px 10px #999;
  -webkit-box-shadow: 0px 0px 10px #999;
  box-shadow: 0px 0px 10px #999;
}
.left
{
	float: left;
}
.right
{
	float: right;
}
.clear
{
	clear: both;
}

/**
 * Form styles
 */
#form_error, .error
{
	display: block;
	width: 94%;
	background-color: #FBE6F2;
	border: 1px solid #D893A1;
	margin: 1% 1% 0 1%;
	padding: 2%;
	
}
#form_message, .message
{
	display: block;
	width: 94%;
	background-color: #66FF99;
	border: 1px solid #66CC33;
	margin: 1% 1% 0 1%;
	padding: 2%;
}

/**
 * Login form page styles
 */
#login
{
	display: block;
	height: 220px;
	width: 450px;
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -150px;
	padding: 40px 25px;
	border: 1px solid #999;
	background-image: url(../images/login_bg.png);
	background-repeat: no-repeat;
}
#login form
{
	position: relative;
	top: 40px;
	width: 250px;
	margin: 10px 100px;
}
#login_login input
{
	font-size: 18px;
	margin-bottom: 8px;
	color: #ccc;
	padding: 5px;
	width: 238px;
	border: 1px solid #ccc;
}
#login_password input
{
	font-size: 18px;
	margin-bottom: 10px;
	color: #ccc;
	padding: 5px;
	width: 238px;
	border: 1px solid #ccc;
}
#login_submit input
{
	font-size: 16px;
	color: #fff;
	border: 1px solid #0099FF;
	background-color:  #66CCFF;
	padding: 5px;
	margin: 0 15px 0 15px;
	width: 100px;
}
#register_link
{
	padding-top: 5px;
}
#register_link a
{
	text-decoration: none;
	border-bottom: 1px dashed #fff;
	font-size: 16px;
	color: #fff;
}
#register_link a:hover
{
	border-bottom: 1px dashed #66CCFF;
	color: #66CCFF;
}

/**
 * Registration form page styles
 */
#registration
{
	display: block;
	height: 300px;
	width: 450px;
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -190px;
	padding: 40px 25px;
	border: 1px solid #999;
	background-image: url(../images/register_bg.png);
	background-repeat: no-repeat;
}
#registration form
{
	position: relative;
	top: 40px;
	width: 250px;
	margin: 10px 100px;
}
#registration_username input
{
	font-size: 18px;
	margin-bottom: 8px;
	color: #ccc;
	padding: 5px;
	width: 238px;
	border: 1px solid #ccc;
}
#registration_email input
{
	font-size: 18px;
	margin-bottom: 8px;
	color: #ccc;
	padding: 5px;
	width: 238px;
	border: 1px solid #ccc;
}
#registration_password input
{
	font-size: 18px;
	margin-bottom: 8px;
	color: #ccc;
	padding: 5px;
	width: 238px;
	border: 1px solid #ccc;
}
#registration_password_confirmation input
{
	font-size: 18px;
	margin-bottom: 10px;
	color: #ccc;
	padding: 5px;
	width: 238px;
	border: 1px solid #ccc;
}
#registration_submit input
{
	font-size: 16px;
	color: #fff;
	border: 1px solid #0099FF;
	background-color:  #66CCFF;
	padding: 5px;
	margin: 0 15px 0 40px;
	width: 100px;
}
#login_link
{
	padding-top: 5px;
}
#login_link a
{
	text-decoration: none;
	border-bottom: 1px dashed #fff;
	font-size: 16px;
	color: #fff;
}
#login_link a:hover
{
	border-bottom: 1px dashed #66CCFF;
	color: #66CCFF;
}