/**
 * General styles
 */
html, body
{
	height: 100% !important;
}
body > div.container > div.row
{
	height: 100% !important;
}
body
{
	background-color: #B2BFCA;
	color: #333;
	background-image: linear-gradient(bottom, rgb(178,191,202) 21%, rgb(221,228,234) 65%);
	background-image: -o-linear-gradient(bottom, rgb(178,191,202) 21%, rgb(221,228,234) 65%);
	background-image: -moz-linear-gradient(bottom, rgb(178,191,202) 21%, rgb(221,228,234) 65%);
	background-image: -webkit-linear-gradient(bottom, rgb(178,191,202) 21%, rgb(221,228,234) 65%);
	background-image: -ms-linear-gradient(bottom, rgb(178,191,202) 21%, rgb(221,228,234) 65%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.21, rgb(178,191,202)),
		color-stop(0.65, rgb(221,228,234))
	);
}
.left
{
	float: left;
}
.right
{
	float: right;
}
.container
{
	height: 100% !important;
	background-color: #fff;
}
.fill
{
	height: 100% !important;
}

/**
 * Form styles
 */
#form_message
{
	width: 93%;
}

/**
 * Login form page styles
 */
#login
{
	display: block;
	height: 220px;
	width: 450px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -150px auto auto -250px;
	padding: 40px 25px;
	border: 1px solid #999;
	background-image: url(../images/login_bg.png);
	background-repeat: no-repeat;
}
#login form
{
	position: relative;
	top: 50px;
	width: 250px;
	margin: 10px 100px;
}
#login_login input
{
	font-size: 120%;
	margin-bottom: 8px;
	letter-spacing: 1px;
	color: #ccc;
	padding: 5px;
	width: 238px;
}
#login_password input
{
	font-size: 120%;
	margin-bottom: 10px;
	letter-spacing: 1px;
	color: #ccc;
	padding: 5px;
	width: 238px;
}
#login_submit input
{
	margin: auto 10px auto 40px;
}
#login_register a
{
}

/**
 * Registration form page styles
 */
#registration
{
	display: block;
	height: 300px;
	width: 450px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -190px;
	padding: 40px 25px;
	border: 1px solid #999;
	background-image: url(../images/register_bg.png);
	background-repeat: no-repeat;
}
#registration form
{
	position: relative;
	top: 40px;
	width: 250px;
	margin: 10px 100px;
}
#registration_username input
{
	font-size: 120%;
	margin-bottom: 8px;
	letter-spacing: 1px;
	color: #ccc;
	padding: 5px;
	width: 238px;
}
#registration_email input
{
	font-size: 120%;
	margin-bottom: 8px;
	letter-spacing: 1px;
	color: #ccc;
	padding: 5px;
	width: 238px;
}
#registration_password input
{
	font-size: 120%;
	margin-bottom: 8px;
	letter-spacing: 1px;
	color: #ccc;
	padding: 5px;
	width: 238px;
}
#registration_password_confirmation input
{
	font-size: 120%;
	margin-bottom: 10px;
	letter-spacing: 1px;
	color: #ccc;
	padding: 5px;
	width: 238px;
}
#registration_submit input
{
	margin: auto 10px auto 50px;
}
#registration_login a
{
}
/**
 * Dashboard styles
 */
.sides
{
	display: block;
	height: 100% !important;
}
#main-top-menu
{
	margin: 1%;
}